* {
    margin: 0px;
    padding: 0px;
}

#tablebody{
    font-size: 70%;
}

body {
    background-color: rgb(0, 0, 128);
    color: white;
    font-family: "Courier New", Courier, monospace;
}

.cuerpo {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
}

.header {
    background-color: blue;
    padding: 20px;
    grid-column: 1 / -1;
}

.main {
    background-color: blue;
    padding: 20px;
    grid-column: 1 / 3;
}

.side {
    background-color: blue;
    padding: 20px;
    grid-column: 3 / 5;
}

.widget1 {
    background-color: white;
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    color: black;
    padding: 20px;
    grid-column: 1 / 3;
}

.widget2 {
    background-color: white;
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    color: black;
    padding: 20px;
    grid-column: 3 / 5;
}

.footer {
    background-color: blue;
    padding: 20px;
    grid-column: 1 / -1;
}

.crudetable {
    background-color: brown;
}